.background    { background: rgb(86, 198, 286);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 148, 5); }
.wall          { background: blue;   }
.floater                   { background: purple;}
.game {
  position: relative;
}
